.events{
  background-image: url(../images/events-bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  color: $whiteColor;
  &__inner{
    padding-top: 43px;
    padding-bottom: 45px;
  }
  &__info {
    text-align: center;
    color: rgba($whiteColor, 0.5);
    font-size: 12px;
    line-height: 1;
  }
  &__info--bold {
    font-weight: 700;
  }

  &__cats {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 80px;
    height: 100%;
    background-color: $blackColor;

    p {
      font-family: 'Banny';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 12px;
      display: flex;
      align-items: center;
      text-indent: 20px;
      text-transform: uppercase;
    }
  }

  &__cats--left {
    right: 0;
    border-radius: 0px 5px 5px 0px;
  }

  &__cats--left p {
    writing-mode: vertical-rl;
  }

  &__cats--right {
    left: 0;
    border-radius: 0px 5px 5px 0px;
    transform: rotate(180deg);
  }

  &__cats--right p {
    writing-mode: vertical-rl;
  }
}