.header {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
}

.logo__img {
  position: absolute;
  left: 50%;
  top: 25px;
  transform: translateX(-50%);
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 41px 0;
  width: 100%;
  font-family: "OpenSans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.5;
  text-transform: uppercase;
  color: $whiteColor;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
    width: 41.4%;
  }

  &__link:hover {
    color: $accentColor;
  }
}

