$accentColor: #e8c300;
$accentColorHover: #eed70c;
$whiteColor: #ffffff;
$blackColor: #000000;
$mineShaftColor: #333333;
$optionHeight: 35px;

%title-font{
  font-family: "Banny", sans-serif;
  font-weight: 700;
}
